<!DOCTYPE html>

<body id="{{pageId}}" class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <main>
    <span class="container">
      <div class="row">
        <div class="col s12 m4 l3"><p></p></div>
        <div class="col s12 m4 l6"><img id="splashLogo" src="images/quicktunesLOGO.png"></div>
        <div class="col s12 m4 l3"><p></p></div>
      </div>
      <div class="row">
        <div class="col s12 m4 l3"><p></p></div>
        <div class="col s12 m4 l6 center-align" style="color:white;"><h5>A multiplayer game for music lovers.</h5></div>
        <div class="col s12 m4 l3"><p></p></div>
      </div>
      <div class="row">
        <div class="col s12 m4 l3"><p></p></div>
        <div class="col s12 m4 l6 center-align">
          <a href="/signin" class="waves-effect waves-light btn light-blue darken-1">Login</a>
          <a href="/signup" class="waves-effect waves-light btn light-blue darken-1">Register</a>
        </div>
        <div class="col s12 m4 l3"><p></p></div>
      </div>
    </span>
  </main>
</body>
