<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Quick Song</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari">
  <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">


</head>

<body>

  {{{ body }}}





  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/songGame.js"></script>
  <script src="js/chatApp.js"></script>


</body>

</html>
